 body {
                margin: 0px;
                background-color: lightslategray;
            }
            #wrapper{
                position: relative;
                float: left;
                width: 80%;
                left: 10%;
            }
            .attribute{
                position: relative;
                float: left;
                width: calc(100% - 20px);
                padding: 10px;
                color: #101010;
                font-size: 18px;
                font-family: "Roboto";
                border-left: 1px solid #202020;
                border-right: 1px solid #202020;
                border-bottom: 1px solid #202020;
                background-color: lightgray;
            }
            value{
                position: relative;
                float: left;
                color: #707070;
                width: calc(100% - 200px);
            }
            attrtitle{
                position: relative;
                float: left;
                color: #202020;
                width: 200px;
                font-size: 18px;
            }
            .hidden{
                display: none;
            }
            #bar_wrapper{
                position: relative;
                float: left;
                width: 700px;
                left: 50%;
                transform: translatex(-50%);
            }
            .label{
                display: flex;
                position: relative;
                float: left;
                width: 100%;
                font-family: "Roboto";
                font-size: 18px;
            }
            .bar{
                position: relative;
                float: left;
                width: 700px;
                height: 25px;
                background-color: #e5edf9;
                border: 1px solid #202020;
            }
            .inner_bar{
                position: absolute;
                left: 0px;
                width: 0px;
                height: 25px;
                background-color: blue;
                transition: all 1s ease-out;
                box-shadow: inset 0 0 10px #000000;
            }
            .percent{
                z-index: 2;
                position: absolute;
                left: 50%;
                margin-left: -10px;
                font-weight: bold;
                font-family: "Roboto";
            }